@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 24 33% 97%; /*#FAF7F5 */

    --foreground: 30 40% 2%; /*#070503 */
    --foreground-lighter: 23 10% 15%; /*#2A2522 */

    --primary: 23 90% 59%; /*#F58238 */
    --primary-foreground: 30 40% 2%; /*#070503 */
    --primary-alt: 16 83% 60%; /*#ED7043 */

    --secondary: 23 98% 81%; /*#FEC4A0 */
    --secondary-foreground: 30 40% 2%; /*#070503 */
    --secondary-alt: 37 57% 90%; /*#F4E9D7 */

    --card: 0 0% 100%; /*#FFFFFF */
    --card-foreground: 30 40% 2%; /*#070503 */

    --popover: 23 98% 81%; /*#FEC4A0 */
    --popover-foreground: 30 40% 2%; /*#070503 */

    --accent: 23 90% 59%; /*#F58238 */

    --destructive: 0 72% 55%; /*#DF3A3A */

    --inactive: 30 40% 25%;
    --inactive-recipes: 27 6% 30%;

    --border: 23 13% 91%; /* #EBE7E5 */
    --input: 23 13% 91%; /* #EBE7E5 */
    --ring: 23 50% 4%; /* #0F0905 */
  }

  /* TODO: Dark mode colors */
  .dark {
    --background: 24 33% 97%; /*#FAF7F5 */

    --foreground: 30 40% 2%; /*#070503 */
    --foreground-lighter: 30 40% 15%; /*#262626 */

    --primary: 23 90% 59%; /*#F58238 */
    --primary-foreground: 30 40% 2%; /*#070503 */

    --secondary: 23 98% 81%; /*#FEC4A0 */
    --secondary-foreground: 30 40% 2%; /*#070503 */

    --card: 0 0% 100%; /*#FFFFFF */
    --card-foreground: 30 40% 2%; /*#070503 */

    --popover: 23 98% 81%; /*#FEC4A0 */

    --accent: 23 90% 59%; /*#F58238 */

    --destructive: 0 72% 55%; /*#DF3A3A */

    --inactive: 218 3% 65%; /*#A3A5A8 */
    --inactive-recipes: 27 6% 30%;

    --border: 23 13% 91%; /* #EBE7E5 */
    --input: 23 13% 91%; /* #EBE7E5 */
    --ring: 23 50% 4%; /* #0F0905 */
  }
}
