@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --background: 0 20% 99%;
 --foreground: 0 0% 2%;
 --primary: 0 100% 71%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 20% 99%;
    --foreground: 0 0% 2%;
    --primary: 0 100% 71%;
  }
}
